<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.samples.depot.web.mapper.PAreaCodeMapper">
    <resultMap id="BaseResultMap" type="cn.samples.depot.web.entity.PAreaCode">
        <result column="code" jdbcType="VARCHAR" property="code"/>    <!-- 海关代码 -->
        <result column="name" jdbcType="VARCHAR" property="name"/>    <!-- 海关代码名称 -->
        <result column="customs_code" jdbcType="VARCHAR" property="customsCode"/>    <!-- 所属海关 -->
        <result column="enable" jdbcType="INTEGER" property="enable"/>    <!-- 是否启用 -->
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>    <!-- 创建时间 -->
    </resultMap>

    <sql id="Base_Column_List">
		code, name, customs_code, enable, create_time
	</sql>

    <select id="executorSql">
      ${sql}
    </select>
</mapper>