<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.samples.depot.web.mapper.PCustomsCodeMapper">
    <resultMap id="BaseResultMap" type="cn.samples.depot.web.entity.PCustomsCode">
        <result column="code" jdbcType="VARCHAR" property="code"/>    <!-- 海关代码 -->
        <result column="name" jdbcType="VARCHAR" property="name"/>    <!-- 海关代码名称 -->
        <result column="abbr_cust" jdbcType="VARCHAR" property="abbrCust"/>    <!-- 关区简称 -->
        <result column="enable" jdbcType="INTEGER" property="enable"/>    <!-- 是否启用 -->
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>    <!-- 创建时间 -->
    </resultMap>

    <sql id="Base_Column_List">
		code, name, abbr_cust, enable, create_time
	</sql>
</mapper>