<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.samples.depot.web.cz.mapper.BContainerHistoryMapper">
    <resultMap id="BaseResultMap" type="cn.samples.depot.web.entity.BContainerHistory">
        <id column="id" jdbcType="VARCHAR" property="id"/>        <!--  -->
        <result column="container_id" jdbcType="VARCHAR" property="containerId"/>    <!-- 箱状态表ID -->
        <result column="conta_no" jdbcType="VARCHAR" property="contaNo"/>    <!-- 箱号 -->
        <result column="conta_type" jdbcType="VARCHAR" property="contaType"/>    <!-- 箱型 -->
        <result column="status" jdbcType="VARCHAR" property="status"/>    <!-- 箱状态 -->
        <result column="work_type" jdbcType="VARCHAR" property="workType"/>    <!-- 作业类型 -->
        <result column="plan_time" jdbcType="BIGINT" property="planTime"/>    <!-- 计划时间 -->
        <result column="work_time" jdbcType="BIGINT" property="workTime"/>    <!-- 作业时间 -->
        <result column="ship_name" jdbcType="VARCHAR" property="shipName"/>    <!-- 出入场工具 -->
        <result column="voyage_no" jdbcType="VARCHAR" property="voyageNo"/>    <!-- 车次 -->
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>    <!-- 创建时间 -->
    </resultMap>

    <sql id="Base_Column_List">
		id, container_id, conta_no, conta_type, status, work_type, plan_time, work_time, ship_name, voyage_no, create_time
	</sql>
</mapper>