<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.samples.depot.web.cz.mapper.BExRailwayContaMapper">
    <resultMap id="BaseResultMap" type="cn.samples.depot.web.entity.BExRailwayConta">
        <id column="id" jdbcType="VARCHAR" property="id"/>        <!--  -->
        <result column="ex_railway_report_head_id" jdbcType="VARCHAR"
                property="exRailwayReportHeadId"/>    <!-- 表头ID -->
        <result column="ex_railway_list_id" jdbcType="VARCHAR" property="exRailwayListId"/>    <!-- 运抵信息ID -->
        <result column="arrive_no" jdbcType="VARCHAR" property="arriveNo"/>    <!-- 运抵编号 -->
        <result column="conta_no" jdbcType="VARCHAR" property="contaNo"/>    <!-- 箱号 -->
        <result column="conta_type" jdbcType="VARCHAR" property="contaType"/>    <!-- 箱型 -->
        <result column="seal_no" jdbcType="VARCHAR" property="sealNo"/>    <!-- 封志号 -->
        <result column="seal_num" jdbcType="INTEGER" property="sealNum"/>    <!-- 封志数量 -->
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>    <!-- 创建时间 -->
    </resultMap>

    <sql id="Base_Column_List">
		id, ex_railway_report_head_id, ex_railway_list_id, arrive_no, conta_no, conta_type, seal_no, seal_num, create_time
	</sql>
</mapper>