<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.samples.depot.web.cz.mapper.BExRailwayListMapper">
    <resultMap id="BaseResultMap" type="cn.samples.depot.web.entity.BExRailwayList">
        <id column="id" jdbcType="VARCHAR" property="id"/>        <!--  -->
        <result column="ex_railway_report_head_id" jdbcType="VARCHAR"
                property="exRailwayReportHeadId"/>    <!-- 表头ID -->
        <result column="arrive_no" jdbcType="VARCHAR" property="arriveNo"/>    <!-- 运抵编号 -->
        <result column="pack_no" jdbcType="INTEGER" property="packNo"/>    <!-- 件数 -->
        <result column="gross_wt" jdbcType="DECIMAL" property="grossWt"/>    <!-- 重量 -->
        <result column="notes" jdbcType="VARCHAR" property="notes"/>    <!-- 备注 -->
        <result column="audit_status" jdbcType="VARCHAR" property="auditStatus"/>    <!-- 审核状态 -->
        <result column="audit_time" jdbcType="BIGINT" property="auditTime"/>    <!-- 审核时间 -->
        <result column="enterprises_name" jdbcType="VARCHAR" property="enterprisesName"/>    <!-- 发货企业名称 -->
        <result column="enterprises_id" jdbcType="VARCHAR" property="enterprisesId"/>    <!-- 发货企业ID -->
        <result column="shipment_plan_no" jdbcType="VARCHAR" property="shipmentPlanNo"/>    <!-- 发运计划编号 -->
        <result column="shipment_time" jdbcType="BIGINT" property="shipmentTime"/>    <!-- 发运时间 -->
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>    <!-- 创建时间 -->
    </resultMap>

    <sql id="Base_Column_List">
		id, ex_railway_report_head_id, arrive_no, pack_no, gross_wt, notes, audit_status, audit_time, enterprises_name, enterprises_id, shipment_plan_no, shipment_time, create_time
	</sql>
</mapper>