<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.samples.depot.web.cz.mapper.BGateCollectMapper">
    <resultMap id="BaseResultMap" type="cn.samples.depot.web.entity.BGateCollect">
        <id column="id" jdbcType="VARCHAR" property="id"/>        <!-- 审核日志id -->
        <result column="gate_no" jdbcType="VARCHAR" property="gateNo"/>    <!-- 卡口序列号 -->
        <result column="station_code" jdbcType="VARCHAR" property="stationCode"/>    <!-- 场站编码 -->
        <result column="channel_code" jdbcType="VARCHAR" property="channelCode"/>    <!-- 通道编码 -->
        <result column="channel_type" jdbcType="VARCHAR" property="channelType"/>    <!-- 通道类型 -->
        <result column="vehicle_number" jdbcType="VARCHAR" property="vehicleNumber"/>    <!-- 采集车牌号 -->
        <result column="front_container_no" jdbcType="VARCHAR" property="frontContainerNo"/>    <!-- 前集装箱号 -->
        <result column="after_container_no" jdbcType="VARCHAR" property="afterContainerNo"/>    <!-- 后集装箱号 -->
        <result column="ground_weight" jdbcType="DECIMAL" property="groundWeight"/>    <!-- 地磅称重 -->
        <result column="customs_rel_type" jdbcType="VARCHAR" property="customsRelType"/>    <!-- 卡口放行指令 -->
        <result column="rel_type" jdbcType="VARCHAR" property="relType"/>    <!-- 抬杆类型 -->
        <result column="entry_time" jdbcType="BIGINT" property="entryTime"/>    <!-- 过卡采集时间 -->
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>    <!-- 创建时间 -->
    </resultMap>

    <sql id="Base_Column_List">
		id, gate_no, station_code, channel_code, channel_type, vehicle_number, front_container_no, after_container_no, ground_weight, customs_rel_type, rel_type, entry_time, create_time
	</sql>
</mapper>