<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.samples.depot.web.cz.mapper.BRailwayLoadContaMapper">
    <resultMap id="BaseResultMap" type="cn.samples.depot.web.entity.BRailwayLoadConta">
        <id column="id" jdbcType="VARCHAR" property="id"/>        <!--  -->
        <result column="railway_load_report_head_id" jdbcType="VARCHAR"
                property="railwayLoadReportHeadId"/>    <!-- 表头ID -->
        <result column="bill_no" jdbcType="VARCHAR" property="billNo"/>    <!-- 提单号 -->
        <result column="conta_no" jdbcType="VARCHAR" property="contaNo"/>    <!-- 箱号 -->
        <result column="conta_type" jdbcType="VARCHAR" property="contaType"/>    <!-- 箱型 -->
        <result column="seal_no" jdbcType="VARCHAR" property="sealNo"/>    <!-- 封志号 -->
        <result column="seal_num" jdbcType="INTEGER" property="sealNum"/>    <!-- 封志数量 -->
        <result column="carriage_no" jdbcType="VARCHAR" property="carriageNo"/>    <!-- 车皮号 -->
        <result column="notes" jdbcType="VARCHAR" property="notes"/>    <!-- 备注 -->
        <result column="audit_status" jdbcType="VARCHAR" property="auditStatus"/>    <!-- 审核状态 -->
        <result column="audit_time" jdbcType="BIGINT" property="auditTime"/>    <!-- 审核时间 -->
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>    <!-- 创建时间 -->
    </resultMap>

    <sql id="Base_Column_List">
		id, railway_load_report_head_id, bill_no, conta_no, conta_type, seal_no, seal_num, carriage_no, notes, audit_status, audit_time, create_time
	</sql>
</mapper>