<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.samples.depot.web.cz.mapper.BRelBillInfoMapper">
    <resultMap id="BaseResultMap" type="cn.samples.depot.web.entity.BRelBillInfo">
        <id column="id" jdbcType="VARCHAR" property="id"/>        <!--  -->
        <result column="rel_report_head_id" jdbcType="VARCHAR" property="relReportHeadId"/>    <!-- 表头ID -->
        <result column="bill_no" jdbcType="VARCHAR" property="billNo"/>    <!-- 提单号 -->
        <result column="carriage_no" jdbcType="VARCHAR" property="carriageNo"/>    <!-- 车皮号 -->
        <result column="h2000_arrive_no" jdbcType="VARCHAR" property="h2000ArriveNo"/>    <!-- H2000运抵编号 -->
        <result column="rel_type" jdbcType="VARCHAR" property="relType"/>    <!-- 放行方式 -->
        <result column="rel_time" jdbcType="VARCHAR" property="relTime"/>    <!-- 放行时间 -->
        <result column="pack_no" jdbcType="INTEGER" property="packNo"/>    <!-- 件数 -->
        <result column="gross_wt" jdbcType="DECIMAL" property="grossWt"/>    <!-- 重量 -->
        <result column="discharge_place" jdbcType="VARCHAR" property="dischargePlace"/>    <!-- 卸货地代码 -->
        <result column="notes" jdbcType="VARCHAR" property="notes"/>    <!-- 备注 -->
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>    <!-- 创建时间 -->
    </resultMap>

    <sql id="Base_Column_List">
		id, rel_report_head_id, bill_no, carriage_no, h2000_arrive_no, rel_type, rel_time, pack_no, gross_wt, discharge_place, notes, create_time
	</sql>
</mapper>